* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: rgb(41, 5, 107);
    text-align: center;
    height: 100px;
    padding-top: 15px
    
}

h1 {
    color: rgb(255, 230, 0);
}

a {
    padding: 15px;
    text-decoration: none;
    color: rgb(218, 218, 0);
}

nav {
    padding: 10px;
}

div {
    border: solid rgb(41, 5, 107);
    width: 250px;
    height: 370px;
    display: inline-block;
    margin: 15px;
}

section {
    text-align: center;
}

img {
    width: 215px;
    height: 250px;
}

body {
    background-color: rgb(205, 178, 240);
}

button {
    background-color: rgb(79, 248, 45);
    height: 30px;
    width: 60px;
    cursor: pointer;

    border-radius: 10px;
}

button:hover {
    background-color: rgb(62, 8, 163);
}

footer {
    background-color: rgb(41, 5, 107);
    height: 40px;
    text-align: center;
    padding: 12px;
}